.group {
    .item-header {
        display: flex;
        --padding-start: 0;
        margin-bottom: 13px;
        border-bottom: 0;
        --background: #E5E5E5;
        ion-text {
            color: #565656;
            font-size: 13px;
        }
        ion-buttons {
          color: var(--orange-color);
          font-weight: normal;
            img {
                margin-right: 6px;
            }
        }
        .show {
          color: #565656;
        }
    }
    .group-team {
      .item {
          background-color: #fff;
          height: 48px;
          margin-bottom: 4px;
          font-size: 14px;
          width: 100%;
          border-radius: 7px;
          align-items: center;
          display: flex;
      
          img {
            width: 24px;
            height: 24px;
            margin-left: 10px;
            margin-right: 6px;
      
          }
      
          .star {
            font-size: 24px;
            margin-right: 10px;
          }
      
          ion-icon {
            margin-right: 10px;
            font-size: 18px;
      
          }
          ion-toggle {
              position: absolute;
              right: 26px;
              --background: #CDCDCD;
              --background-checked: var(--orange-color)
          }
        }
      
    }
    .add {
      text-align: end;
      margin-bottom: 10px;
      img {
          transform: translateY(28%);
          margin-left: 20px;
          margin-right: 20px;
      }
    }
}