.btn__back{
  width: 25px;
  display: absolute;
  padding-top: 10px;
  padding-left: 10px;
}
.white-space{
  background-color: white;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  height: 70vh;
  margin-top: 30vh;
}
.football__image {
  height: 100vh;
  background-image: url("../../../assets/img/football_background.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}
.form__login{
  padding-top: 25px;
  .title {
    font-size: 24px;
    font-weight: 600;
    display: flex;
    color: var(--gray56-color);
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
.component-collection{
  width: 90%;
  margin-left:5%;
  margin-top: 30px;
  .component{
    margin-bottom: 50px;
    ion-text{
      font-size: 14px;
      color: var(--gray56-color);
    }
    ion-input{
      color: var(--gray56-color);
      font-size: 12px;
      border-bottom:#727A81 1px solid;
      .show-password{
        position: absolute;
        left: 95%;
      }
    }
  }
}
.forget-password{
  font-size: 14px;
  color: #727A81;
  float: right;
  margin-right: 5vw;
}
.btn__next{
  --background: #FCB441;
  --background-activated: #ffd591;
  --border-radius: 5px;
  width: 80%;
  height: 35px;
  // margin-top: 50px;
  margin-left: 10%;
  margin-bottom: 20px;
  margin-top: 50px;
  
}
.signup{
  color: #0451C3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center
}
.login-method{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  ion-text{
    color: #848484;
    font-size: 13px;
  }
  .line{
    border-bottom: 1px solid #848484;
    height: 15px;
    
  }
}
.login-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  ion-img{
    padding: 10px;
  }
}
