ion-content {
  --overflow: scroll;
  --padding-bottom: 20px;
  --background: var(--white-not-change);
    .football__image {
    height: 67vh;
    @media screen and (max-height: 640px) {
      height: 62vh;
    }
    background-image: url("../../assets/img/football_background.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  .football__image-ios { 
    height: 62vh;
    @media screen and (max-height: 640px) {
      height: 58vh;
    }
  }

  .live__title {
    position: absolute;
    bottom: 47px;
    color: var(--white-not-change);
    font-weight: bold;
    width: 100%;
    font-size: 26px;
    line-height: 151.1%;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .choose-country {
    padding: 0 16px;
    line-height: 40px;
    display: block !important;
  }

  ion-alert:not(.select-alert) {
    --background: #222428;
    --ion-text-color: white;

    button {
      color: white !important;
      font-size: 20px !important;
    }

    .alert-message {
      color: #ddd;
    }
  }

  .footer {
    display: block;
    padding-top: 0px;
    width: 86%;
    margin: 0 auto;
    justify-content: space-evenly;
    ion-button {
      ion-icon {
        color: #fff;
        font-size: 16px;
      }
    }
    .text-country {
      margin: 0;
      padding: 5px 10px;
    }

    ion-label {
      margin: 16px 0 11px 0;
      color: #757272;
    }

    ion-icon {
      position: absolute;
      right: 13%;
      color: #858585;
      font-size: 11px;
    }

    .countries,
    .language {
      display: flex;
      align-items: center;
      background-color: var(--grayE7-color);
      border-radius: 5px;
      min-width: 130px;

      img {
        width: 14px;
        height: 14px;
        margin-left: 5px;
        border-radius: 50%;
      }
    }

    ion-select {
      background: var(--grayE7-color);
      font-size: 14px;
      flex: auto;
      border-radius: 5px;
      --padding-top: 8px;
      --padding-start: 6px;
      --padding-bottom: 8px;
      --color: #000 !important;
    }
    .btn {
      ion-icon {
        margin-left: 20px;
      }
    }
  }
  button-native {
    display: none;
  }
}
