/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


body.dark {}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark mode variables go here */
    --white-color: #000;
  }
}

:root {
  --white-color: #fff;
  --white-not-change: #fff;
  --orange-color: #fcb441;
  --orange-second: #fff9e1;
  --grayF2-color: #f2f2f2;
  --grayE5-color: #e5e5e5;
  --grayA5-color: #a5a5a5;
  --grayE7-color: #e7e7e7;
  --gray56-color: #565656;
  --gray56-change: #565656;
  --gray9B-coclor: #9b9b9b;
  --back-color: #000;
  --back-not-change: #000;
  --blue-change: #002d63;

  ion-back-button {
    --background-focused: #fff !important;
    --background-hover: #fff !important;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark mode variables go here */
    --back-color: #fff;
    --white-color: #000;
    --gray56-change: #fff;
    --blue-change: #fff;

  }
}

ion-searchbar {
  font-family: "Saira", sans-serif !important;
  width: 79%;
  padding: 0;
  --background: #eaeaea;
  height: 36px;
  border-radius: 8px;
  margin: 0 auto;
  color: var(--grayA5-color);
}

.ios-mr-top {
  margin-top: 30px;

}

.button-native:focus {
  background: #fff !important;
}

.button-native:active {
  background: #fff !important;
}

.btn {
  width: 100%;
  height: 35px;
  border-radius: 5px;
}

.btn__org {
  --color: #fff;
  --background: var(--orange-color);
  --background-activated: #fb9c04;
  width: 78%;
  margin: auto;
  margin-top: 20px;
  --border-radius: 5px;

  ion-icon {
    position: absolute;
    right: 10px;
  }
}

.btn__org_home {
  --color: #fff;
  --background: var(--orange-color);
  --background-activated: #fb9c04;
  width: 78%;
  display: block;
  margin: auto;
  margin-top: 20px;
  --border-radius: 5px;

  ion-icon {
    position: absolute;
    right: 10px;
  }
}

.group-footer {
  display: flex;
  justify-content: space-around;
  background-color: #f2f2f2;

  .group-active {
    background: #fff9e1 !important;
    color: #fcb441;
  }
  .group-ios {
    margin-bottom: 20px !important;
  }
  .group-button {
    background: #f2f2f2;
    text-align: center;
    line-height: 14px;
    font-size: 13px;
    padding: 4px 14px;
    border-radius: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
    ion-label {
      display: block;
    }
  }
}

.app-header-custom {
  .header {
    background: transparent !important;
    color: #fff !important;

    .back-btn {
      color: #fff !important;
    }
  }
}

.overflow-hidden {
  --overflow: hidden;
}

.overflow-scroll {
  --overflow: scroll;
}

.header-md::after {
  height: 0px;
}

.header-ios ion-toolbar:last-of-type {
  --border-width: 0 0 0px;
}

.searchbar-search-icon,
.searchbar-search-icon.sc-ion-searchbar-md,
.searchbar-search-icon.sc-ion-searchbar-ios {
  right: 10px !important;
  left: auto;
}

.two-line,
.one-line {
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.one-line {
  -webkit-line-clamp: 1;
}

:host(.segment-button-checked)::before,
:host(.segment-button-after-checked)::before {
  border-left: 0;
}

.list-md {
  padding: 0;
}

.swiper-container-horizontal>.swiper-pagination-bullets {
  top: -10px;
  // position: fixed;
  z-index: 10;
  height: 20px;
}

.item-divider-inner {
  padding-left: unset;
  padding-right: unset;
  padding-inline-start: 0;
  padding-inline-end: 0;
}

.swiper-pagination-bullet {
  width: 76px;
  height: 7px;
  display: inline-block;
  border-radius: 8px;
  background: #dadada;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: #10cc00;
}

ion-tab-button.tab-selected {
  --background: #d62131 !important;
  border-radius: 8px;
  --color-selected: var(--white-not-change);
}

:host(.button-solid) {
  --background-activated: transparent !important;
  --background-focused: transparent !important;
  --background-hover: transparent !important;
  --background-activated-opacity: 0;
  --background-focused-opacity: 0;
  --background-hover-opacity: 0;
}

.no-box-shadow {
  box-shadow: none;
}

.modalCoutry {
  --height: 70%;
  --width: 70%;
  --overflow: scroll;

  .modal-wrapper {
    border-radius: 10px;
  }
}

.modalTimeZone {
  margin-top: -20%;
  --height: 25%;
  --width: 90%;
  --overflow: scroll;

  .modal-wrapper {
    border-radius: 20px;
  }
}

.modalTeam {
  --height: 70%;
  --width: 90%;
  --overflow: hidden;

  .modal-wrapper {
    border-radius: 10px;
  }
}

ion-content {
  font-family: "Saira", sans-serif !important;
  // font-family: 'Roboto', sans-serif !important;
  // font-size: 16px;
}

ion-header {
  font-family: "Saira", sans-serif !important;
  // font-family: 'Roboto', sans-serif !important;
}

.feedback-modal {
  --height: 50%;

  sc-ion-modal-ios {
    display: none;
  }

  .modal-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    .ion-page {
      justify-content: flex-start;
    }
  }
}

.three-dots-1 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.three-dots-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.three-dots-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.three-dots-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.three-dots-5 {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.searchbar-clear-button.sc-ion-searchbar-ios {
  right: 30px !important;
}

.searchbar-search-icon {
  display: none;
  width: 0;
  height: 0;
}

@-webkit-keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}

@keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}

.scale-down-center {
  --background: transparent;

  ion-img {
    -webkit-animation: scale-down-center 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite alternate both;
    animation: scale-down-center 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite alternate both;
    background: white;
    width: 30px;
    border-radius: 50%;
  }

  min-height: 100%;
}