<ion-content>
  <div class="football__image">
    <ion-img [ngClass]="{'ios-mr-top': device}" class="btn__back" src="../../../assets/icon/back.svg" (click)="back()"></ion-img>
    <div class="white-space">
      <div class="form__login">
        <ion-text class="title">{{dataLanguage.NEW_PASS}}</ion-text>
        
        <form class="component-collection" [formGroup]="newPassword">
          <ion-item-group class="component">
            <ion-text>{{dataLanguage.PASSWORD}}</ion-text>
            <div class="group-input">
              <ion-input placeholder="{{dataLanguage.PASSWORD}}" formControlName="new_password" type="{{typePass}}">
              </ion-input>
              <ion-icon class="show-password" name="{{namePass}}" (click)="showPass()"></ion-icon>
            </div>
           

          </ion-item-group>  
          <ion-item-group class="component">
            <ion-text>{{dataLanguage.RE_PASSWORD}}</ion-text>
            <div class="group-input">
              <ion-input placeholder="{{dataLanguage.PASSWORD}}"  formControlName="new_password_confirmation" type="{{typePassCon}}">
      
              </ion-input>
              <ion-icon class="show-password" name="{{namePassCon}}" (click)="showPassCon()"></ion-icon>
            </div>
           

          </ion-item-group>
        </form>
        
        <br/>
        <ion-button class=" ion-no-padding btn__next" (click)="next()">{{dataLanguage.NEXT}}</ion-button>
        <br/>
        <ion-text class="signup" (click)="toLogin()">{{dataLanguage.BACK_LOGIN}}</ion-text>
      </div>
      
      <div class="login-method">
        <ion-row>
          <ion-col class="ion-no-padding" size="3">
            <div class="line"> </div>
          </ion-col>
          <ion-col class="ion-text-center ion-justify-content-start" size="6">
            <ion-text class="login-method-divider">{{dataLanguage.CON_BY}}</ion-text>
          </ion-col>
          <ion-col class="ion-no-padding" size="3">
            <div class="line"> </div>
          </ion-col>
        </ion-row>
        
        <div class="login-row">
          <ion-img src="../../../assets/icon/login-google.svg"></ion-img>
          <ion-img src="../../../assets/icon/login-facebook.svg"></ion-img>
        </div>
        
      </div>
    </div>
  </div>
</ion-content>
  