.back{
  display: absolute;
  width: 10px;
  transform: translate(0, 20px);
}
.header{
  display: flex;
  flex-direction: center;
  align-items: center;
  justify-content: center;
  
  ion-text{
    text-align: center;
    font-size: 20px;
    color: #565656;
    font-weight: 400;
    margin-right: 10px;
  }
}

ion-content {
  --background: var(--white-not-change);
  .divider{
    font-size: 14px;
    .title{
      margin-left: 30px;
      color: var(--back-not-change);
    }
    .item{
      .logo{
       width: 24px; 
       height: 18px;
       border-radius: 50%;
      }
      display: flex;
      height: 50px;
      margin: 2px;
      background-color: #f2f2f2;
      padding-left: 30px;
      padding-right: 10px;
      padding-top: 15px;
      padding-bottom: 15px;
      
      font-size: 13px;
      color: #565656;
      .arrow{
        width: 8px;
      }
    }
  }
}