<ion-content>
  <div class="football__image">
    <ion-img [ngClass]="{'ios-mr-top': device}"  class="btn__back" src="../../../assets/icon/back.svg" (click)="back()"></ion-img>
    <div class="white-space">
      <div class="form__login">
        <ion-text class="title">{{dataLanguage.SIGN_UP}}</ion-text>
        
        <form class="component-collection" [formGroup]="signupForm">
          <ion-item-group class="component">
            <ion-text>{{dataLanguage.SIGN_UP}}</ion-text>
            <ion-input formControlName="email" placeholder="{{dataLanguage.EMAIL}}"></ion-input>
          </ion-item-group>
          <ion-item-group class="component">
            <ion-text>{{dataLanguage.PASSWORD}}</ion-text>
            <ion-input formControlName="password" placeholder="{{dataLanguage.PASSWORD}}" type="password">
              <ion-img class="show-password" src="../../../assets/icon/show-password.svg"></ion-img>
            </ion-input>
          </ion-item-group>  
          <ion-item-group class="component">
            <ion-text>{{dataLanguage.RE_PASSWORD}}</ion-text>
            <ion-input formControlName="password_confirmation" placeholder="{{dataLanguage.PASSWORD}}" type="password">
              <ion-img class="show-password" src="../../../assets/icon/show-password.svg"></ion-img>
            </ion-input>
          </ion-item-group> 
        </form
        >
        
        <ion-button class=" ion-no-padding btn__next" (click)="onSubmit()">{{dataLanguage.NEXT}}</ion-button>
      </div>
      
      <div class="login-method">
        <ion-row>
          <ion-col class="ion-no-padding" size="3">
            <div class="line"> </div>
          </ion-col>
          <ion-col class="ion-text-center ion-justify-content-start" size="6">
            <ion-text class="login-method-divider">{{dataLanguage.CON_BY}}</ion-text>
          </ion-col>
          <ion-col class="ion-no-padding" size="3">
            <div class="line"> </div>
          </ion-col>
        </ion-row>
        <div class="login-row">
          <ion-img src="../../../assets/icon/login-google.svg"></ion-img>
          <ion-img src="../../../assets/icon/login-facebook.svg"></ion-img>
        </div>
        
      </div>
    </div>
  </div>
</ion-content>
  